# ======================
# Python / Backend
# ======================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.env
.env.*
*.sqlite3

# Logs
*.log

# OS files
.DS_Store



# ======================
# Node / Frontend
# ======================
node_modules/
dist/
build/

# Vite / React
.vite/

# ======================
# IDE
# ======================
.vscode/
.idea/